.statistics {
  width: 350px;
}

.title {
  margin: 25px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.statList {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.item {
  display: flex;
  height: 77px;
  flex-direction: column;
  flex: 1 0 20%;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.label {
  font-size: 16px;
}

.percentage {
  font-size: 22px;
  font-weight: 600;
}
